<!DOCTYPE html>
<html>
<head>
	
    <% include templates/head %> <!--incluye cachitos de código desde otro lugar mediante EJS para no tener que copiar y pegar código constantemente-->
    <title><%= titulo %></title><!--pongo el igual por que muestro algo de HTML desde el index.js!, sino no es necesario poner = -->
</head>
<body>
	<div class="container-fluid contenedor">

		<% include parcials/navbar %>
		<section class="contenido">
			<h2><%= subtitulo %><h2>
			<div class="dibujos">
				<div><p>'Lihuén: cosa 'e Mandinga' es un proyecto transmedia que cuenta con apoyo del INCAA y de la Fca. de Bellas Artes, UNLP. El puntapié inicial es una serie web de diez capitulos. Me desempeño como Directora de Arte y Fondista.</p></div>
				<div class="dibujo-div">
					<a href= "public/views/imgs/lihuen-concepts/1.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/1.jpg" alt="fábrica color naranja sobre fondo rosa"></a>
					<a href= "public/views/imgs/lihuen-concepts/2.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/2.jpg" alt=""></a>
				</div>
				<div class="dibujo-div">
					<a href= "public/views/imgs/lihuen-concepts/3.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/3.jpg" alt=""></a>
					
				</div>
				<div class="dibujo-div">
					<a href= "public/views/imgs/lihuen-concepts/4.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/4.jpg" alt=""></a>
					<a href= "public/views/imgs/lihuen-concepts/5.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/5.jpg" alt=""></a>
						
				</div>
				<div class="dibujo-div">
					<a href= "public/views/imgs/lihuen-concepts/6.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/6.jpg" alt=""></a>
					<a href= "public/views/imgs/lihuen-concepts/7.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/7.jpg" alt="" class="img-ind"></a>	
				</div>
				<div class="dibujo-div">
					<a href= "public/views/imgs/lihuen-concepts/8.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/8.jpg" alt=""></a>
					<a href= "public/views/imgs/lihuen-concepts/9.jpg" data-lightbox="roadtrip"><img src="public/views/imgs/lihuen-concepts/9.jpg" alt="" class="img-ind"></a>	
				</div>
				
			</div>
		</section><!--termina CONTENIDO-->
	
	</div><!--TERMINA CONTENEDOR-->
</body>
</body>
</html>