<!DOCTYPE html>
<html>
<head>
	
    <% include templates/head %> <!--incluye cachitos de código desde otro lugar mediante EJS para no tener que copiar y pegar código constantemente-->
    <title><%= titulo %></title><!--pongo el igual por que muestro algo de HTML desde el index.js!, sino no es necesario poner = -->
</head>
<body>
	<div class="container-fluid contenedor">

		<% include parcials/navbar %>
		<section class="contenido">
			<h2><%= subtitulo %><h2>
			<div class="dibujos">
				<div class="dibujo-div">
					<a data-id= "public/views/imgs/porahora/1.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/1.jpg" alt="fábrica color naranja sobre fondo rosa"></a>
					<a data-id= "public/views/imgs/porahora/2.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/2.jpg" alt=""></a>
				</div>
				<div class="dibujo-div">
					<a data-id= "public/views/imgs/porahora/3.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/3.jpg" alt=""></a>
					<a data-id= "public/views/imgs/porahora/6.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/6.jpg" alt=""></a>
				</div>
				<div class="dibujo-div">
					<a data-id= "public/views/imgs/porahora/4.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/4.jpg" alt=""></a>
					<a data-id= "public/views/imgs/porahora/5.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/5.jpg" alt=""></a>	
				</div>
				<div class="dibujo-div">
					<a data-id= "public/views/imgs/porahora/7.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/7.jpg" alt="" class="img-ind"></a>	
				</div>
				<div class="dibujo-div">
					<a data-id= "public/views/imgs/porahora/8.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/8.jpg" alt="" class="img-ind"></a>	
					<a data-id= "public/views/imgs/porahora/9.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/9.jpg" alt=""></a>
					<a data-id= "public/views/imgs/porahora/10.jpg" href="#" data-toggle="modal" data-target="#myModal" class="chiquita"><img src="public/views/imgs/porahora/10.jpg" alt=""></a>
				</div>	
			</div>
		</section><!--termina CONTENIDO-->
	<% include parcials/modal %>
	</div><!--TERMINA CONTENEDOR-->
</body>
</body>
</html>