<!DOCTYPE html>
<html>
<head>
 	<% include templates/head %>
    <title>Carla Sophie Tapparo</title>
   
   
</head>
<body>
	<div class="container-fluid contenedor">

		<% include parcials/navbar %>
		<section class="contenido">
			<img src="/imgs/2.jpg">
		</section><!--termina CONTENIDO-->
	</div><!--TERMINA CONTENEDOR-->
</body>
</html>