<!DOCTYPE html>
<html>
<head>
 	<% include templates/head %>
    <title>Carla Sophie Tapparo</title>
   
   
</head>
<body>
	<div class="container-fluid contenedor">
		<% include parcials/navbar %>
		<section class="contenido">
			<img src="public/views/imgs/2.jpg" class="portada" >
		</section><!--termina CONTENIDO-->
	</div><!--TERMINA CONTENEDOR-->
</body>
</html>