<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ejemploNode</title>
   
</head>
<body>
	<h1>buen día</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aliquam molestias nobis repudiandae inventore esse quisquam labore consequuntur, porro error? Laborum adipisci fugit voluptatibus sed dolor temporibus, ipsum iste veritatis!</p>
	<a href="/"> volver </a>
</body>
</html>