<!DOCTYPE html>
<html>
<head>
    <% include templates/head %> <!--incluye cachitos de código desde otro lugar mediante EJS para no tener que copiar y pegar código constantemente-->
    <title><%= titulo %></title><!--pongo el igual por que muestro algo de HTML desde el index.js!, sino no es necesario poner = -->
   
</head>
<body>
	<div class="container-fluid contenedor">

		<% include parcials/navbar %>
		<section class="contenido">
			<h2><%= subtitulo %><h2>

		</section><!--termina CONTENIDO-->
	</div><!--TERMINA CONTENEDOR-->
</body>
</html>