		<div><!--MODAL-->
            <div class= "modal fade" id= "myModal" role="dialog" aria-labelledby="myModalLabel">
                <div class= "modal-dialog" role="document">
                    <div class="modal-content sale">
                        <div class="modal-body modal-center">
                            <img src= "" class="imagen-pop grande img-responsive" id="imagenGrande"/>
                        </div>    
                    </div>
                </div><!-- modal dialog-->
            </div><!--modal fade-->
        </div>