<nav class="indice">
		<ul>
			<li id=inicio><a href="/">Carla Sophie Tapparo</a></li>
			</br>
			</br>
			<li><a href="/dibujos">Dibujos</a></li>
			</br>
			<li><a href="#" class="verMas" data-id="1">Proyectos</a></li>
				<div class="escondido" id="div1">
					<ul>
						<li><a class="verMas" data-id="2">Lihuen</a></li>
							<div class="escondido" id="div2">
								<ul>
									<li><a href="/concepts-lihuen">Concepts</a></li>
									<li><a href="/fondos-lihuen">Fondos</a></li>
								</ul>
						</ul>	
					<li><a href="/cuidado">Cuidado</a></li>
				</div>
			
			</br>
			<li><a href="/contacto">Contacto</a></li>
		</ul>
	</nav>